
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{fragments/layout}">

<th:block layout:fragment="mystyle"></th:block>

<th:block layout:fragment="main">
<div id="main">
	<h1>게시판 목록</h1>
	
	
	<table>
	<thead>
		<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회</th>
				
		</tr>
	
	</thead>
	</table>
	<button><a href="#">글쓰기</a></button>
	
</div>
</th:block>

<th:block layout:fragment="myscript"></th:block>

